.section{
    height: 800px;
    box-shadow: inset 0px 5px 17px 0px #6d4b4b;
    font-size: 18px;
    h3{
        font-size: 26px;
    }
    .section-content{
        width: 1920px;
        height: 800px;
        display: table-cell;
        vertical-align: middle;
        line-height: 40px;
    }
    .ivu-carousel{
        width: 1920px;
    }
}
.section1,.ivu-layout{
    // background: url('../src/assets/1.jpg') no-repeat;
    box-shadow: inset 0px 0px 0px 0px #fff;
}
.ivu-menu-horizontal.ivu-menu-light:after{
    display: none;
}
// .section2{background: url('../src/assets/2.jpg') no-repeat;}
// .section3{background: url('../src/assets/3.jpg') no-repeat;}
// .section4{background: url('../src/assets/4.jpg') no-repeat;}
.section2{
    i{
        font-size: 40px;
    }
}

.layout{
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-logo{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
}
.demo-carousel{
    height: 500px;
}
.layout-nav{
    width: 900px;
    margin: 0 auto;
    margin-right: 20px;
}
.layout-footer-center{
    text-align: center;
}
.demo-drawer-profile{
    font-size: 14px;
}
.demo-drawer-profile .ivu-col{
    margin-bottom: 12px;
}
.skills{
    position: relative;
    .circle{
        position: absolute;
        left: 50%;
    }
}
.outside-circle{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    border: 1px dashed gray;
    li{
        width: 40px;
        position: absolute;
        height: 40px;
        border-radius: 20px;
        background-color: transparent;
        animation:outSide 12s ease-out infinite;
        &:after{
            position: absolute;
            content: '';
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: yellow;
            animation: outSideAfter  12s  ease-in infinite;
            left: 0;
            top: 0;
            border-radius: 40px;
        }
        &:nth-child(1){
            animation-delay:-10s;
            &:after{
                animation-delay: -10s;
                content: 'ES6';
            }
        }
        &:nth-child(2){
            animation-delay:-8s;
            &:after{
                animation-delay: -8s;
                content: 'git';
            }
        }
        &:nth-child(3){
            animation-delay:-6s;
            &:after{
                animation-delay: -6s;
                content:'Vue';
            }
        }
        &:nth-child(4){
            animation-delay:-4s;
            &:after{
                animation-delay: -4s;
                content:'ng4';
            }
        }
        &:nth-child(5){
            animation-delay:-2s;
            &:after{
                animation-delay: -2s;
                content:'less';
            }
        }
        &:nth-child(6){
            animation-delay:0s;
            &:after{
                animation-delay: 0s;
                content:'h5c3';
            }
        }
    }
}
@keyframes outSide{
    0%{left: 130px;animation-timing-function: ease-out}
    25%{left: 280px;animation-timing-function: ease-in}
    50%{left: 130px;animation-timing-function: ease-out}
    75%{left: -20px;animation-timing-function: ease-in}
    100%{left: 130px;animation-timing-function: ease-out}
}
@keyframes outSideAfter{
    0%{top:-20px;animation-timing-function: ease-in}
    25%{top:130px;animation-timing-function: ease-out}
    50%{top:280px;animation-timing-function: ease-in}
    75%{top:130px;animation-timing-function: ease-out}
    100%{top:-20px;animation-timing-function: ease-in}
}

.inside-circle{
    width: 180;
    height: 180;
    border-radius: 280px;
    border: 1px dashed gray;
    margin-top: 50px;
    margin-left: 50px;
    li{
        width: 180px;
        position: absolute;
        height: 180px;
        border-radius: 280px;
        background-color: transparent;
        &:after{
            content: '';
            display: block;
            position: absolute;
            background: red;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            animation:inSideAn 3s ease-in-out infinite alternate;
        }
        &:nth-child(1){
            transform: rotate(90deg);
        }
        &:nth-child(2){
            transform: rotate(60deg);
            &:after{
                animation-delay: -0.5s;
            }
        }
        &:nth-child(3){
            transform: rotate(30deg);
            &:after{
                animation-delay: -1s;
            }
        }
        &:nth-child(4){
            transform: rotate(0deg);
            &:after{
                animation-delay: -1.5s;
            }
        }
        &:nth-child(5){
            transform: rotate(-30deg);
            &:after{
                animation-delay: -2s;
            }
        }
        &:nth-child(6){
            transform: rotate(-60deg);
            &:after{
                animation-delay: -2.5s;
            }
        }
    }
}
@keyframes inSideAn{
    from{
        left: 160px;
        top:160px;
    }
    to{
        left: 0px;
        top: 0px;
    }
}



// 以下是转动方块的样式
.mouseMo li {
    margin: 5px;
    position: relative;
    width: 180px;
    height: 180px;
    display: inline-block;
    vertical-align: top;
    -webkit-perspective: 300px;
            perspective: 300px;
    -webkit-transform-origin: 50% 50% 90px;
            transform-origin: 50% 50% 90px;
  }
  
  .w {
    font-size: medium;
    font-size: initial;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -90px;
            transform-origin: 50% 50% -90px;
    will-change: transform;
    -webkit-animation: 200ms ease-out 0ms 1 normal forwards paused;
            animation: 200ms ease-out 0ms 1 normal forwards paused;
  }
  
  .f,
  .b {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    -webkit-transition: none;
    transition: none;
  }
  
  .f {
    background-color: #00BCD4;
    background: -webkit-linear-gradient(#00BCD4, #673AB7);
    background: linear-gradient(#00BCD4, #673AB7);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0)
  }
  
  .f > svg{
    mix-blend-mode: luminosity;
  }
  
  .b {
    padding: 16px;
    padding: 1rem;
    background-image: -webkit-radial-gradient(circle, #333, #000 160%);
    background-image: radial-gradient(circle, #333, #000 160%);
    -webkit-transform: translate3d(0,0,-1px);
            transform: translate3d(0,0,-1px);
  
    display: -webkit-box;
  
    display: -ms-flexbox;
  
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-shadow: 0 20px 20px black;
    text-align: center;
  }
  
  .in-top .b,
  .out-top .b {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transform: translate3d(0, -100%, 0) rotate3d(1,0,0,90deg);
            transform: translate3d(0, -100%, 0) rotate3d(1,0,0,90deg);
  }
  
  .in-right .b,
  .out-right .b {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate3d(100%, 0, 0) rotate3d(0,1,0,90deg);
            transform: translate3d(100%, 0, 0) rotate3d(0,1,0,90deg);
  }
  
  .in-bottom .b,
  .out-bottom .b {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate3d(0, 100%, 0) rotate3d(-1,0,0,90deg);
            transform: translate3d(0, 100%, 0) rotate3d(-1,0,0,90deg);
  }
  
  .in-left .b,
  .out-left .b {
    -webkit-transform-origin: 100% 0;
            transform-origin: 100% 0;
    -webkit-transform: translate3d(-100%,0,0) rotate3d(0,-1,0,90deg);
            transform: translate3d(-100%,0,0) rotate3d(0,-1,0,90deg);
  }
  
  .in {
  }
  
  .in-top .w{
    -webkit-animation-name: in-top;
            animation-name: in-top;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  .in-right .w{
    -webkit-animation-name: in-right;
            animation-name: in-right;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  .in-bottom .w{
    -webkit-animation-name: in-bottom;
            animation-name: in-bottom;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  .in-left .w{
    -webkit-animation-name: in-left;
            animation-name: in-left;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  .out {
  }
  
  .out-top .w{
    -webkit-animation-name: out-top;
            animation-name: out-top;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  .out-right .w{
    -webkit-animation-name: out-right;
            animation-name: out-right;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  .out-bottom .w{
    -webkit-animation-name: out-bottom;
            animation-name: out-bottom;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  .out-left .w{
    -webkit-animation-name: out-left;
            animation-name: out-left;
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  
  @-webkit-keyframes in-top {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(-1,0,0,90deg);transform: rotate3d(-1,0,0,90deg)}
  }
  
  @keyframes in-top {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(-1,0,0,90deg);transform: rotate3d(-1,0,0,90deg)}
  }
  @-webkit-keyframes out-top {
    from {-webkit-transform: rotate3d(-1,0,0,90deg);transform: rotate3d(-1,0,0,90deg)}
    to   {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  @keyframes out-top {
    from {-webkit-transform: rotate3d(-1,0,0,90deg);transform: rotate3d(-1,0,0,90deg)}
    to   {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  
  @-webkit-keyframes in-right {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(0,-1,0,90deg);transform: rotate3d(0,-1,0,90deg)}
  }
  
  @keyframes in-right {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(0,-1,0,90deg);transform: rotate3d(0,-1,0,90deg)}
  }
  @-webkit-keyframes out-right {
    from  {-webkit-transform: rotate3d(0,-1,0,90deg);transform: rotate3d(0,-1,0,90deg)}
    to    {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  @keyframes out-right {
    from  {-webkit-transform: rotate3d(0,-1,0,90deg);transform: rotate3d(0,-1,0,90deg)}
    to    {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  
  @-webkit-keyframes in-bottom {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(1,0,0,90deg);transform: rotate3d(1,0,0,90deg)}
  }
  
  @keyframes in-bottom {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(1,0,0,90deg);transform: rotate3d(1,0,0,90deg)}
  }
  @-webkit-keyframes out-bottom {
    from  {-webkit-transform: rotate3d(1,0,0,90deg);transform: rotate3d(1,0,0,90deg)}
    to    {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  @keyframes out-bottom {
    from  {-webkit-transform: rotate3d(1,0,0,90deg);transform: rotate3d(1,0,0,90deg)}
    to    {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  
  @-webkit-keyframes in-left {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(0,1,0,90deg);transform: rotate3d(0,1,0,90deg)}
  }
  
  @keyframes in-left {
    from  {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
    to    {-webkit-transform: rotate3d(0,1,0,90deg);transform: rotate3d(0,1,0,90deg)}
  }
  @-webkit-keyframes out-left {
    from  {-webkit-transform: rotate3d(0,1,0,90deg);transform: rotate3d(0,1,0,90deg)}
    to    {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  @keyframes out-left {
    from  {-webkit-transform: rotate3d(0,1,0,90deg);transform: rotate3d(0,1,0,90deg)}
    to    {-webkit-transform: rotate3d(0,0,0,0deg);transform: rotate3d(0,0,0,0deg)}
  }
  
  /* ======= aesthetics ======= */
  
  
  .mouseMo {
    font-size: 0;
    padding: 0;
    max-width: 760px;
    margin: 0 auto;
    list-style: none
  }
  
  .mouseMo::after{
    content: '';
    display: table;
    clear: both;
  }
  
  